<div class="mt-4">
    <h1>NỘI DUNG PHIM</h1>
    <div class="row">
        <div class="col-lg-4">
<iframe width="360" height="315" src="https://www.youtube.com/embed/{{movieslug.trailer}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        </div>
        <div class="col-lg-6">
                <h5 class="card-title">Đạo diễn: {{movieslug.director}}</h5>
                <h5 class="card-title">Diễn viên: {{movieslug.actor}}</h5>
                <h5 class="card-title">Thể loại: {{movieslug.type}}</h5>
                <h5 class="card-title">Thời lượng: {{movieslug.length}} phút</h5>
                <h5 class="card-title">Ngôn ngữ: {{movieslug.language}}</h5>

                <button type="button" class="btn btn-success mt-4">Mua vé</button>

        </div>

    </div>
    <h6 class="mt-4">{{movieslug.description}}</h6>
</div>