<div class="mt-4">
    <h1>Phim đã đăng</h1>
    <table class="table table-striped mt-4">
  <thead>
    <tr>
        \<th scope="col">#</th>
      <th scope="col">Tên phim</th>
      <th scope="col">Thể loại</th>
      <th scope="col" colspan="2">Ngôn ngữ</th>
  
    </tr>
  </thead>
  <tbody>
      {{#each moviestore}}
    <tr>
      <th scope="row">{{@index}}</th>
      <td>{{this.name}}</td>
      <td>{{this.type}}</td>
      <td>{{this.language}}</td>
      <td> 
          {{!-- vieww movie --}}
          <a href="/movie/{{this._id}}/edit" class="btn btn-link">Sữa</a>
    

          <a href="" class="btn btn-link" data-toggle="modal" data-target="#delete-movie" data-id="{{this._id}}">Xóa</a>  
          {{!-- lấy id --}}
          
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>



{{!--  confrim delete --}}
<div  id="delete-movie" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa phim?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn muốn xóa phim này?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>

        <button type="button" id="btn-delete-movie" class="btn btn-danger">Tiếp tục</button> </form>
      </div>
    </div>
  </div>
</div>

{{!-- form ẩn để xóa --}}
    <form name="delete-form" method="POST"></form>


<script>
  document.addEventListener('DOMContentLoaded',function(){
    var idmovie;
    var deleteForm= document.forms['delete-form']; // lấy form  ẩn ra gán vào deleteForm
      var btnDelete= document.getElementById('btn-delete-movie')


    $('#delete-movie').on('show.bs.modal', function (event) { //  gán id của modal  > khi cái bootraps modal đc mở lên thì lên thì {}
  var button = $(event.relatedTarget) // Button that triggered the modal
  idmovie = button.data('id') // Extract info from data-* attributes
  

  })

  btnDelete.onclick = function(){
  deleteForm.action='/movie/' + idmovie + '?_method=DELETE' // Thêm action vào form
  deleteForm.submit()
  }
})
</script>